#contact {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    box-shadow: -5px -5px 5px 2px rgba(148, 146, 146, 0.854), 5px 5px 5px rgba(148, 146, 146);
    scroll-snap-align: center;
    margin-top: 10rem;
}

#contactbox {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    color: white;


}

#contacttxt {
    font-size: 5rem;

}

#divheart {

    font-size: x-large;
}

#hello {
    font-size: large;
}

#formandinf {
    margin-top: 5%;
    width: 100vw;
    display: flex;

}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50%;
    height: 50vh;
    /*if you mention this when you add outline and border in hover as a result the size of that hovered element will
  increase so this property ensure that the other also moves in order so that gap remain same that is 2rem even using margin will create
  this affect */

}

#formp {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

input[type=text] {

    display: block;
    width: 50%;
    height: 2rem;
    font-weight: 800;


}


#Messages {
    display: block;
    resize: none;
    width: 50%;
    height: 8rem;
    font-weight: 800;
}

#Messages:hover,
input[type=text]:hover {
    outline: 3px solid white;
    border: 3px solid black;

}

#btncont {
    display: block;
    height: 20px;
    width: 100px;
    background-color: gray;
    border: 2px solid white;
    border-color: black;
}

#btncont:hover {

    outline: 3px solid white;
    border: 3px solid black;
}

#infn {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 2rem;

}

#infn a {
    color: white;
    text-decoration: none;
}

#infn1,
#infn2,
#infn3 {
    display: flex;
    gap: 2rem;

}

#infn1 div,
#infn2 div,
#infn3 div {
    display: inline;
}


#socialdiv {

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#socialdiv a {
    padding-right: 20px;
}

#socialdiv a :hover {
    filter: invert();

}

#bottom {
    height: 200px;
}


@media(max-width:800px) and (min-width:580px) {
    #formandinf {
        flex-direction: column;
        align-items: center;
    }

    #infn {
        height: 28vh;
    }
}

@media(max-width:580px) {
    #hello {
        font-size: 3vw;
    }

    #contacttxt {
        font-size: 11vw;
    }

    #divhear {
        font-size: 7vw;
    }

    #formandinf {
        flex-direction: column;
        align-items: center;
    }

    #infn {
        height: 28vh;
    }

    #formp {
        font-size: 4vw;
    }

    input[type=text] {
        width: 90%;

    }

    #Messages {

        width: 90%;

    }

    #infn a {
        font-size: 4vw;
    }
}